<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="33">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAPix_J0MXmUBJru1YZEYS-A9HXiVQi5Oc" />

        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".signup.SignUpActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".email_confirmation.ConfirmEmailActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/activityAsDialog"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".application.SettingsActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoStatusBarColor"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".speed_test.SpeedTestActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoStatusBarColor"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".data_prediction.DataPredictionActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoStatusBarColor"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".app_usage.AppUsageActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".live_graph.LiveGraphActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".application.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".home.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".application.ActivitySplash"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>